---
import { getCollection } from 'astro:content'
import Layout from '~/layouts/layout.astro'
import { getExcerpt } from '~/utils/excerpt'

const posts = await getCollection('posts')
---

<Layout>
	<main class="container">
		<section>
			{posts.map(entry => (
				<article>
					<h2><a href="#">{entry.data.title}</a></h2>
					<Fragment set:html={getExcerpt(entry.body)} />
					</article>
			))}
		</section>
	</main>
</Layout>