---
import Layout from '~/layouts/layout.astro'
import { getSortedPosts } from '~/data/posts'

const posts = getSortedPosts()
---

<Layout>
  <main>
    {
      posts.map((post) => (
        <div
          hx-get={`${post.url}/partial`}
          hx-trigger="revealed"
          hx-swap="outerHTML"
        />
      ))
    }
  </main>
</Layout>
