---
import Layout from '~/layouts/layout.astro'
import { getSortedPosts } from '~/data/posts'

const posts = getSortedPosts()
---

<Layout>
  <main class="container">
    {
      posts.map((post, i) => (
        <div
          hx-get={`${post.url}/partial`}
          hx-trigger={i >= 2 ? 'revealed' : 'load'}
          hx-swap="outerHTML"
          style="min-height: 100vh"
        />
      ))
    }
  </main>
</Layout>
