<nav class="container-fluid">
    <ul>
        <li>
            <a href="#">
                <span>LOGO</span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <button class="outline">
                <span>=</span>
            </button>
        </li>
    </ul>
</nav>