---
import type { GetImageResult } from 'astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
    site: CollectionEntry<'site'>
    logo: GetImageResult
}

const { site, logo } = Astro.props
---

<nav class="container-fluid">
    <ul>
        <li>
            <a href="#">
                <img class="logo" src={logo.src} srcset={logo.srcSet.attribute} {...logo.attributes} alt={site.data.title}>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <button class="outline">
                <span>=</span>
            </button>
        </li>
    </ul>
</nav>

<style lang="scss">
    .logo {
        border-radius: 9999px;
        object-fit: cover;
        object-position: center;
    }
</style>