---
import { getEntry } from 'astro:content'

const { slug } = Astro.params
if (!slug) {
  throw new Error('slug is undefined')
}

const postData = await getEntry('posts', slug)

if (!postData) {
  return Astro.redirect('/404')
}

const {
  data: { title },
} = postData
const { Content } = await postData.render()
const url = `/${new Date(postData.data.date).getFullYear()}/${postData.slug}`

export const partial = true
export const prerender = false
---

<section>
  <article>
    <h3><a href={url}>{title}</a></h3>
    <Content />
  </article>
  <hr />
</section>
